<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mr-auto mx-auto">
        <li class="nav-item active">
            <a class="nav-link text-white font-weight-bold logo-font mr-2" href="#">Home<span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white font-weight-bold logo-font mr-2" href="#"
                id="all-product-link">All
                Products</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white font-weight-bold logo-font mr-2" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing & accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="electronics-link">
                <a class="dropdown-item" href="#">Men's clothing & shoes</a>
                <a class="dropdown-item" href="#">Women's clothing & shoes</a>
                <a class="dropdown-item" href="#">Baby & Children</a>
                <a class="dropdown-item" href="#">Bags & luggage</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">All
                    Clothing</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white font-weight-bold logo-font mr-2"
                href="#">Cars</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white font-weight-bold logo-font mr-2" href="#" id="household-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Households
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="household-link">
                <a class="dropdown-item" href="#">Furnitures</a>
                <a class="dropdown-item" href="#">Carpets</a>
                <a class="dropdown-item" href="#">Fridges & Microwaves</a>
                <a class="dropdown-item" href="#">Kitchen
                    Utensils</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"
                    href="#">All Households</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white font-weight-bold logo-font mr-2" href="#" id="electronic-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Electronics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="electronics-link">
                <a class="dropdown-item" href="#">Televisions</a>
                <a class="dropdown-item" href="#">Radios & speakers</a>
                <a class="dropdown-item" href="#">Phones & labtops</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"
                    href="#">All Electronics</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle font-weight-bold logo-font mr-2" href="#" id="bike-link"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bikes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bike-link">
                <a class="dropdown-item" href="#">Bicycles</a>
                <a class="dropdown-item" href="#">Moter Bikes</a>
                <a class="dropdown-item" href="#">All Bikes</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white font-weight-bold logo-font mr-2"
                href="#">Others</a>
        </li>
    </ul>
</div>