<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mr-auto mx-auto">
        <li class="nav-item active">
            <a class="nav-link text-white font-weight-bold logo-font mr-2" href="{% url 'index' %}">Home<span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white font-weight-bold logo-font mr-2" href="{% url 'products' %}?category=cars,men_clothing_shoes,women_clothing_shoes,baby_children,bags_luggage,furnitures,carpets,fridges_microwaves,kitchen_utensils,televisions,radios_speakers,phones_labtops,bicycles,moter_bikes,others"
                id="all-product-link">All
                Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white font-weight-bold logo-font mr-2" href="{% url 'products' %}?category=cars">Cars</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white font-weight-bold logo-font mr-2" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing & accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="electronics-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=men_clothing_shoes">Men's clothing & shoes</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=women_clothing_shoes">Women's clothing & shoes</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=baby_children">Baby & Children</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=bags_luggage">Bags & luggage</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'products' %}?category=men_clothing_shoes,women_clothing_shoes,baby_children,bags_luggage">All
                    Clothing</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white font-weight-bold logo-font mr-2" href="#" id="household-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Households
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="household-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=furnitures">Furnitures</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=carpets">Carpets</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=fridges_microwaves">Fridges & Microwaves</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=kitchen_utensils">Kitchen
                    Utensils</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"
                    href="{% url 'products' %}?category=furnitures,carpets,fridges_microwaves,kitchen_utensils">All Households</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white font-weight-bold logo-font mr-2" href="#" id="electronic-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Electronics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="electronics-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=televisions">Televisions</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=radios_speakers">Radios & speakers</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=phones_labtops">Phones & labtops</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"
                    href="{% url 'products' %}?category=televisions,radios_speakers,phones_labtops">All Electronics</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle font-weight-bold logo-font mr-2" href="#" id="bike-link"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bikes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bike-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=bicycles">Bicycles</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=moter_bikes">Moter Bikes</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=bicycles,moter_bikes">All Bikes</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white font-weight-bold logo-font mr-2"
                href="{% url 'products' %}?category=others">Others</a>
        </li>
    </ul>
</div>